.title-section{
    width: 90%;
    margin: auto;
}


.title-section .divBox22{
    justify-content: flex-start;
    width:100%;
    
}

.title-box{
    position: relative;
}
.title1{
    color: var(--color-bw);
    font-family: 'Mohave', sans-serif;
    font-weight: 300;
    opacity: 0;
    animation: glitch-text-1 infinite 10s ease-in 1s;
}

.glitch-title{
    top: 0;
    position: absolute;
    text-align: center;
    color: var(--color-bw);
    font-weight: 300;
    font-family: 'Mohave', sans-serif;
}

.glitch-title1{
    clip-path: polygon(0 0, 100% 0, 100% 42%, 0 42%);
    animation: fadeIn .2s ease-in .8s forwards, glitch1 ease-in 4s forwards 1s;
    opacity: 0;
}

.glitch-title2{
    clip-path: polygon(0% 40%, 100% 40%, 100% 65%, 0 65%);
    animation: fadeIn .2s ease-in .8s forwards, glitch2 ease-in 6s forwards 1s;
    opacity: 0;
}



.glitch-title3{
    clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0 100%);
    animation: fadeIn .2s ease-in .8s forwards, glitch3 ease-in 4s forwards 1s;
    opacity: 0;
}


.subtitle{
    color: var(--required-color);
    font-weight: 300;
    margin-top: 1rem;
}

.form .subtitle{
    display: none;
}


.btn-actions{
    display: flex;
}

.btn-actions button{
    margin-right: auto;
}



.btn-simple:active{
    animation: blinkAnimation 6s ease-in-out infinite;
}

.btn-delete, .btn-cancelar{
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin-left:.5rem;
    font-family: 'Rajdhani', sans-serif;
}
.btn-cancelar{
    margin-right:.5rem;
}