#primary{
    width: 85%;
    margin: auto;
    background-color: var(--primary-bg-color);
    padding-top: 12%;
}


.content{
    opacity: 0;
    /* background-color: var(--color4);    */
    /* background-color: var(--color3);    */
    animation: fadeIn .3s ease-in forwards;
    animation-delay: .5s;
}



.content-div{
    margin: 5% auto;
    width: 90%;
    padding: 3% 0;
}


/* SUJETOS */


.item{
    margin: .5rem .5rem;
    opacity: 0;
    max-width: 30rem;
    cursor: pointer;
}

.item-anime{
    
    animation: fadeUp .5s ease-in forwards;
    animation-delay: .7s;
}


.item-container{
    padding: 1.3rem;
    background: var(--transparent3-bw);
    border-radius: 1px;
    border: 1px solid var(--transparent-bw);
    transform: translateY(0);
    opacity: 1;
    transition: .4s;
}



.item img{
    background-color: #090909;
    padding: .5rem 3rem;
    min-height: 100%;
    object-fit: cover;
}

.item-name{
    /* color: var(--color-bw); */
    color: var(--yellow);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 1rem 0 .5rem 0;
    animation: shadowSize 2s ease-in infinite alternate-reverse;
}




.item .desc div{
    margin: 1rem 0;
}

.btn-div{
    margin: 1.8rem 0 1.5rem 0;
    display: flex;
}

.btn-div a{
    margin-right: auto;
}

.btn-simple{
color: var(--turquoise);
font-size: 1.3rem;

/* opt 2 */
text-transform: uppercase;
font-weight: 600;
font-family: 'Rajdhani', sans-serif;
letter-spacing: .1rem;

transition: all .1s ease-in;
}

.btn-simple:hover{
    text-shadow: 0 0 10px var(--turquoise);
}

.btn-simple:active{
    animation: blinkAnimation 6s ease-in-out infinite;
}

.item-sujeto{
    background-color:rgba(255, 255, 255, 0.15);
    border:1px solid #E7E7E7;
}

.btn-actions{
    display: flex;
}

.btn-actions button{
    margin-right: auto;
}



.btn-simple:active{
    animation: blinkAnimation 6s ease-in-out infinite;
}

.btn-delete, .btn-cancelar{
    font-size: 1.3rem;
    padding: 1rem 2rem;
    margin-left:.5rem;
    font-family: 'Rajdhani', sans-serif;
}
.btn-cancelar{
    margin-right:.5rem;
}

.title-section{
    width: 90%;
    margin: auto;
}

.divBox1{
    display:flex;
    justify-content: space-between;
    align-content: center;
    
}

.divBox2{
    display:flex;
    align-content: center;
    
}


.form .divBox1{
    justify-content: center;
}


.title-section .divBox2{
    justify-content: flex-start;
    
}

.title-section .divBox2{
    justify-content: flex-start;
    align-items: center;
}


.title-box{
    position: relative;
}

.title{
    color: var(--color-bw);
    text-align: center;
    font-family: 'Mohave', sans-serif;
    font-weight: 300;
    /* transform: translateX(50%); */
    opacity: 0;
    animation: glitch-text-1 infinite 10s ease-in 1s;
}

.glitch-title{
    top: 0;
    position: absolute;
    text-align: center;
    color: var(--color-bw);
    font-weight: 300;
    font-family: 'Mohave', sans-serif;
}

.glitch-title1{
    clip-path: polygon(0 0, 100% 0, 100% 42%, 0 42%);
    animation: fadeIn .2s ease-in .8s forwards, glitch1 ease-in 4s forwards 1s;
    opacity: 0;
}

.glitch-title2{
    clip-path: polygon(0% 40%, 100% 40%, 100% 65%, 0 65%);
    animation: fadeIn .2s ease-in .8s forwards, glitch2 ease-in 6s forwards 1s;
    opacity: 0;
}



.glitch-title3{
    clip-path: polygon(0% 60%, 100% 60%, 100% 100%, 0 100%);
    animation: fadeIn .2s ease-in .8s forwards, glitch3 ease-in 4s forwards 1s;
    opacity: 0;
}

.subtitle{
    color: var(--required-color);
    font-weight: 300;
    margin-top: 1rem;
}


.form .title-section .searchbar, .form .add-button{
    display: none;
}



.form .subtitle{
    display: none;
}

