.form-breadcrumb{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    margin: auto;
    margin-top: 3rem;
    /* border: 1px solid var(--orange-y); */
    padding: 5% 6% 6%;
}

.form-breadcrumb::before{
    content: "";
    display: block;
    position: absolute;
    left: -.8rem;
    top: 0;
    height: 8em;
    width: 1px;
    /* background-color: var(--orange-y); */
}

.form-breadcrumb::after{
    content: "";
    display: block;
    position: absolute;
    left: -.5rem;
    top: 50%;
    z-index: 1;
    height: 6.5rem;
    width: 1rem;
    /* background-color: #151016; */
    transform: translateY(-50%);
}

.form-breadcrumb li{
    font-family: 'Rajdhani', sans-serif;
    color: var(--color-grey-disabled);
    text-transform: uppercase;
    letter-spacing: .1rem;
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
}

.form-breadcrumb li::before{
    width: 99%;
    height: .4rem;
    background-color: var(--color-grey-disabled);
    content: "";
    display: block;
    margin-bottom: 1.5rem;
}


.form-breadcrumb .breadcrumb-active{
    color: var(--orange-y);
}

.form-breadcrumb .breadcrumb-active::before{
    background-color: var(--orange-y);
    animation: shadowSizing 1s ease-in infinite alternate-reverse;
}