.content-report{
    opacity: 0;
    /* background-color: var(--color4);    */
    /* background-color: var(--color3);    */
    animation: fadeIn .3s ease-in forwards;
    animation-delay: .5s;
}



.content-div-report{
    margin: 5% auto;
    width: 90%;
    padding: 3% 0;
}

.prev-btn{
    cursor: pointer;
    text-transform: uppercase;
    color: var(--orange);
    border: 1px solid var(--orange);
    letter-spacing: .1rem;
    font-weight: 500;
}

.prev-btn:hover{
    background-color: var(--orange-transparent);
    box-shadow: 0 0 10px var(--orange-transparent);
    animation: blinkOrangeBackground 5s ease-in-out infinite;
}

.prev-btn:active{
    background-color: var(--orange) !important;
    color: var(--color3);
}


.next-btn{
    cursor: pointer;
    text-transform: uppercase;
    color: var(--green);
    border: 1px solid var(--green);
    letter-spacing: .1rem;
    font-weight: 500;
}

.next-btn:hover{
    background-color: var(--green-transparent);
    box-shadow: 0 0 10px var(--green-transparent);
    animation: blinkGreenBackground 5s ease-in-out infinite;
}

.next-btn:active{
    background-color: var(--green) !important; 
    color: var(--color3);
}



.required{
    color: var(--orange);
    margin-left: .3rem;
}

/* REPORTE FORM */


.select-group{
    display: flex;
    flex: 1;
}



.boxForm1{
    width: 60%;
    margin: auto;
    text-align: center;
}



