.searchinput{
    width: 0;
    overflow: hidden;
    border: 0;
    padding: 0;
    transition: .4s;
    height: 3rem;
    align-self: center;
    
}

.searchinput-show, .searchinput2{
    border: 1px solid var(--green);
    width: 20rem;
    overflow: visible;
    padding: 0 1rem;
    animation: shadowSizeGreen2 2s ease-in alternate-reverse infinite;
    align-items: center;
}


.searchbar{
    display:flex;

    
}

.searchIcon, .añadirIcon, .deleteIcon{
    cursor: pointer;
    align-self:center;

}
.searchIcon{
    padding:0;
    background-color:red;
}


.btn-opacity{
    opacity: .3; 
    
}


.search-icon span{
    content: "";
    display: block;
    width: 1rem;
    height: .3rem;
    background: var(--green);
    border-radius: 4rem;
    position: relative;
    top: 1.4rem;
    transform: rotate(45deg);
    animation: shadowSizeGreen2 2s ease-in alternate-reverse infinite;
    
}

.searchIcon{
    display:flex;
    align-items:center;
    transform:rotate(180deg);
    width:50rem;
}




