.add-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    transform: translateX(15%);
    cursor: pointer;
    opacity: 1;
    transition: all 1s ease-in;
}



.rombo-btn{
    border: 1px solid var(--green);
    width: 2.1rem;
    height: 2.1rem;
    transform: rotate(45deg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in;
    background: var(--color4);
    animation: rotateRomboIni 1s ease-in, size 2s ease-in-out 1s infinite alternate;
}



.rombo-btn span{
    position: relative;
    display: block;
    height: 1.14rem;
    width: .26rem;
    background-color: var(--green);
    animation: shadowSizeGreen 1s alternate-reverse infinite;
    pointer-events: none;
}


.rombo-btn-fx{
    transform: scale(1.4);
    opacity: 0;
}

.rombo-btn-fx + .button-text::before{
    background: transparent;
}

.rombo-btn-fx + .button-text{
    opacity: 0;
}

.rombo-btn span:nth-child(2){
    transform: rotate(-45deg);
    top: 0px;
    left: -2px;
}

.rombo-btn span:nth-child(1){
    transform: rotate(45deg);
    top: 0PX;
    left: 1PX;
}


.button-text{
    opacity: 0;
    color: var(--green);
    margin-left: 2rem;
    text-transform: uppercase;
    position: relative;
    transition: width .5s;
    text-align: left;
    overflow: hidden;
    letter-spacing: 2px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    padding-left: 2px;
}

.button-text span{
    opacity: 0;
    /* transition: all .2s ease; */
    /* transition-delay: .2s; */
    transform: scale(1);
}

span.fade{
    opacity: 1;
    transform: scale(1.1);
}

/* .button-text::before{
    content: "";
    position: absolute;
    left: -11%;
    width: 125%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, var(--color2) 5%, var(--color2) 100%);
    transition: .75s cubic-bezier(0.19,-0.05, 0.5, 1.32);
} */

.add-button:hover .button-text::before{
    transform: translateX(120%);
}