
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    word-wrap: break-word;
}


body{
    background-color: var(--color2);
    overflow-x: hidden;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

p{
    font-size: 1.3rem;
    color: var(--color-bw);
    font-weight: 300;
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 2.5rem;
}

h4{
    font-size: 2.3rem;
}

h5{
    font-size: 1.3rem;;
}

h6{
    font-size: 1.3rem;
    font-weight: 500;
}

img{
    max-width: 100%;
    max-height: 100%;
}



button{
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}


label{
    color: var(--color-bw);
    font-size: 1.4rem;
    font-weight: 300;
    letter-spacing: .05rem;
    margin-bottom: .5rem;
}


input{
    background-color: var(--transparent2-bw);
    /* background-color: var(--required-color-transparent4); */
    border: 1px solid var(--transparent-bw);
    /* border: 1px solid #f9232f73; */
    color: var(--color-bw);
    outline: 0;
    padding: 0 .6rem;
    height: 4rem;
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: all 5000s ease-in-out 0s;
    transition-property: background-color, color;
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="radio"], input[type="checkbox"]{
    display: none;
}

.label-cp{
    flex: 1;
    text-transform: uppercase;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    letter-spacing: .2rem;
    text-align: left;
    padding: 2rem 1.2rem .5rem 3rem;
    cursor: pointer;
    border: 1px solid var(--fucsia);
    background-color: var(--fucsia-transparent);
    position: relative;
}

input:checked + .label-cp{
    background-color: var(--fucsia);
    box-shadow: 0 0 10px 1px var(--fucsia-shadow);
}


input:disabled + .label-cp::after, input:disabled + .label-cp::before{
    display: none;
}

input:checked + .label-cp::before{
    /* width: 70%; */
    transform: translateX(-100%);
    left: 100%;
}

input:checked + .label-cp::after{
    /* width: 45%; */
    transform: translateX(100%);
    right: 100%;
}


.label-cp::before{
    content: "";
    display: block;
    background-color: var(--fucsia);
    width: 60%;
    height: .1rem;
    position: absolute;
    left: 0;
    top: -.8rem;
    transition: .3s ease-in;
}

.label-cp::after{
    content: "";
    display: block;
    background-color: var(--fucsia);
    width: 35%;
    height: .1rem;
    position: absolute;
    right: 0;
    bottom: -.8rem;
    transition: .3s ease-in;
}

/* input[type="radio"] + label{
    cursor: pointer;
    border: 1px solid var(--fucsia);
    background-color: var(--fucsia-transparent);
}

input[type="radio"]:checked + label{
    background-color: var(--fucsia);
    box-shadow: 0 0 10px 1px var(--fucsia-shadow);
} */

/* input[type="checkbox"] + label{
    cursor: pointer;
    border: 1px solid var(--green);
    background-color: var(--green-transparent);
}

input[type="checkbox"]:checked + label{
    background-color: var(--green);
    color: var(--color3);
    box-shadow: 0 0 10px 1px var(--green-shadow);
    font-weight: 600;
} */


textarea{
    outline: none;
    min-height: 8rem;
    background-color: var(--transparent2-bw);
    resize: vertical;
    max-height: 30rem;
    /* border: 1px solid var(--border-input); */
    border: 1px solid var(--transparent-bw);
    color: var(--color-bw);
    padding: .6rem;
    font-family: 'roboto', sans-serif;
}


input:disabled, input:disabled + label{
    color: var(--color-grey-disabled);
    border-color: var(--color-grey-disabled);
    background-color: var(--transparent2-bw);
    cursor:not-allowed;
}



input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    opacity: 0;
    -webkit-appearance: none;
    width: 100%;
}

input[type="date"]{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}





/* SCROLLBAR */

::-webkit-scrollbar{
    width: .2rem;
}


::-webkit-scrollbar-thumb{
    background: var(--required-color);
}


/* CURSOR */


/* html, body, li, a, p, h1, h2, h3, h4, h5, h6, ul, div, button, input, label, textarea, *{
    cursor: none !important;
}

.cursor{
    width: 1rem;
    height: 1rem;
    border-top: 9px solid transparent;
    border-left: 11px solid var(--yellow);
    border-bottom: 5px solid transparent;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 99;
    pointer-events: none;
}

.cursor-dark{
    border-left: 11px solid var(--required-color);
} */
























.form .title-section .searchbar, .form .add-button{
    display: none;
}

























/* GUARDADO EXITOSAMENTE */


.successfull-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.successfull-form h3{
    color: var(--turquoise);
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    margin: 4rem;
    animation: h3Big 2s forwards;
}



.circle{
    border-radius: 100%;
    /* border: 1px solid white; */
    padding: 2rem;
    width: 20rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.svg-circle{
    position: absolute;
}

.check-svg{
    position: absolute;
    animation: checkBig 1.5s forwards;
    fill: var(--turquoise);
}


.progressCircle{
    fill: none;
    stroke: var(--orange);
    stroke-width: 2;
    stroke-dasharray: 630;
    stroke-dashoffset: 630;
    animation: progressCircle 1s ease-in-out forwards;
}






/* successfull 2 */

.successfull-form2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.successfull-form2 h3{
    /* color: var(--fucsia); */
    color: white;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    margin: 5% 0;
    animation: cyberTry 16s infinite;
}


.modal-w{
    height: 100vh;
    overflow-y: hidden;
}

.modal-window a{
    color: #00f0ff;
    padding: 3rem;
    border: 1px solid #f9232f73;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: 'Rajdhani';
    letter-spacing: 1px;
    background: rgb(0 240 255 / 5%);

}























/* MEDIA QUERIES */

@media screen and (max-width: 1000px){

    .grid-col4{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .form-breadcrumb{
        width: 80%;
    }


    .boxForm1{
        width: 80%;
    }

    .grid-col6{
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }


}

@media screen and (max-width: 800px){
    .grid-col4{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); 
    }

    .grid-col2{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr)); 
    }


    .form-breadcrumb{
        width: 100%;
    }

    .boxForm1{
        width: 100%;
    }

    .step3 > div{
        width: 100%;
    }

    .step3 .no-wrap{
        flex-wrap: wrap !important;
    }

}

@media screen and (max-width: 650px){


    /* MENU */

    .modal{
        height: 100vh;
        overflow-y: hidden;
    }

    header{position: relative;}

    .modal .burger{
        position: relative;
        z-index: 3;
    }

    .admin-menu{
        height: 100vh;
        width: 100%;
        top: 0;
        position: absolute;
        z-index: 2;
        padding-top: 10vh;
    }

    nav{
        align-items: baseline;
        padding-top: 4rem;
    }

    .nav-links li{
        width: fit-content;
    }

    .main-menubar{
        flex-direction: column-reverse;
        align-items: baseline;
        width: 10%;
    }

    .logo{
        margin: 2rem auto;
        position: absolute;
        top: 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }

    .i-bar-menubar{
        display: none;
    }

    .burger{
        position: relative;
        top: .8rem;
    }

    /* TITLE */

    .V-group-media-title{
        flex-direction: column-reverse !important;
    }


    .searchbar{
        justify-content: flex-end !important;
        align-self: flex-end;
        flex-wrap: nowrap;
        width: 100%;
        margin: 1rem 0;
    }

    .searchinput-show{
        width: 100%;
    }



    /* CONTENT */

    #primary{
        margin: 5% auto;
        width: 98%;
    }

    .title-section > div{
        justify-content: flex-start;
    }

    .content{
        margin-top: 4rem;
    }



    /* REPORTE */

    .boxForm1{
        width: 70%;
    }
}



@media screen and (max-width: 400px){


    /* REPORTE */

    .boxForm1{
        width: 100%;
    }

}


@media screen and (max-width: 400px){

    /* MENU */

    nav{
        flex-direction: column;
        padding-top: 2rem;
    }

    .main-menubar{
        width: auto;
        flex-direction: row;
        align-items: center;
        margin-left: 5%;
    }

    .i-bar-menubar{
        display: block;
        margin-top: 0;
        margin-bottom: 0;
    }

    .logo{
        position: static;
        margin: 0;
    }

    .nav-menu{
        margin-left: auto;
    }

    .burger{
        position: static;
    }

}