/* MENU */


header{
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    min-height: 10vh;
    background-color: var(--color2);
    color: var(--color-bw);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: down .8s ease-in forwards;
    transform: translateY(-10vh);
}


header::after{
    content: "";
    width: .3rem;
    height: .15rem;
    background-color: var(--required-color);
    position: absolute;
    bottom: 0;
    left: -5%;
    box-shadow: 0 0 5px 1px var(--required-color);
    animation: translateHeaderBefore 2.5s ease-in .3s;
}


nav{
    margin: auto;
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-menu{
    min-width: 40%;
}

.nav-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-links li{
    margin-left: 1.5rem;
}

.nav-links a{
    color: var(--color-bw);
    font-size: 1.3rem;
    letter-spacing: .05rem;
}


.main-menubar{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burger{
    padding: 1rem;
    cursor: pointer;
}

.burger span{
    background-color: var(--color-bw);
    display: flex;
    flex-direction: column;
    height: .2rem;
    margin: .4rem auto;
    z-index: 9;
}

.burger span:first-child{
    width: 1.1rem;
    margin-left: 0;
    transition: .3s;
}

.burger span:nth-child(2){
    width: 2.2rem;
    transition: .3s;
}

.burger span:nth-child(3){
    width: 1.1rem;
    margin-right: 0;
    transition: .3s;
}

.burger-close span:first-child{
    transform: rotate(40deg) translate(2px, 2px);
}

.burger-close span:nth-child(2){
    transform: rotate(-45deg) translate(-1px, 0px);
}

.burger-close span:nth-child(3){
    transform: rotate(40deg) translate(-3px, 0px);
}

.burger-close span{
    background-color: var(--required-color);
}

.i-bar{
    padding: 1.5rem .05rem;
    opacity: .2;
    margin: auto 2rem;
}

.i-bar1{
    background-color: var(--color-bw);
}

.logo{
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
}


.admin-menu{
    position: fixed;
    top: 10vh;
    z-index: 1;
    width: 18%;
    min-width: 22rem;
    left: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(1.5rem);
    background: var(--required-color-transparent4);
    transform: translateX(-100%);
    transition: .5s ease-in-out;
}

.show-admin{
    transform: translateX(0%);
}

.admin-menu ul{
    margin-top: 30%;
    margin-left: 3.5rem;
}


.admin-menu li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4rem auto;
}

.admin-menu li a{
    text-transform: uppercase;
    color: var(--color-bw);
    letter-spacing: .15rem;
    font-size: 1.1rem;
    margin-left: 2rem;
    transition: all .1s ease-in;
}

.admin-menu li a:hover{
    text-shadow: 0 0 10px var(--yellow), 0 0 2px var(--yellow);
}

.admin-menu li img{
    width: 2rem;
}